
modelos/metodos/directos/polinomicas_mayor_3/ferrari/__pycache__/Ferrari.cpython-312.pyc
modelos/metodos/directos/polinomicas_mayor_3/ferrari/__pycache__/Ferrari.cpython-312.pyc
modelos/metodos/directos/polinomicas_mayor_3/tartaglia/__pycache__/Tartaglia.cpython-312.pyc
modelos/metodos/directos/polinomicas_mayor_3/ferrari/__pycache__/Ferrari.cpython-312.pyc
modelos/metodos/directos/polinomicas_menor_2/cuadratica/__pycache__/Cuadratica.cpython-312.pyc
/modelos/metodos/directos/polinomicas_menor_2/lineal/__pycache__
/modelos/metodos/directos/polinomicas_menor_2/cuadratica/__pycache__
/modelos/metodos/directos/polinomicas_mayor_3/tartaglia/__pycache__
/modelos/metodos/iterativos/polinomicos/muller/__pycache__
/modelos/metodos/iterativos/polinomicos/horner/__pycache__
/modelos/metodos/iterativos/cerrados/falsa_posicion/__pycache__
/modelos/metodos/iterativos/polinomicos/muller/__pycache__
/modelos/metodos/iterativos/cerrados/biseccion/__pycache__
/modelos/metodos/iterativos/abiertos/secante/__pycache__
/modelos/metodos/iterativos/abiertos/punto_fijo/__pycache__
/modelos/metodos/iterativos/abiertos/newton_modificado/__pycache__
/modelos/metodos/iterativos/abiertos/newton/__pycache__
/modelos/metodos/directos/polinomicas_menor_2/lineal/__pycache__
/modelos/metodos/directos/polinomicas_menor_2/cuadratica/__pycache__
/modelos/metodos/directos/polinomicas_mayor_3/tartaglia/__pycache__
/modelos/metodos/directos/polinomicas_mayor_3/ferrari/__pycache__
