<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diferenciación numérica</title>
    <!-- para el Loader -->
    <link rel="stylesheet" href="/static/Loader/loaders.css">
    
    <!-- Estilo de la pagina en General -->
    <link rel="stylesheet" href="/static/templatestyles.css">
    
    <!-- Dependencias del Toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css" />
    
    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicono/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicono/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicono/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div>
    </div>
    <span class="text_hero">Diferenciación <span class="textGradient1">numérica</span></span>
    <p>La diferenciación numérica es un método para encontrar la derivada de una función mediante diferencias finitas.
    </p>
    
    <div class="content">
        <div id="main" class="main">
            <div class="descripocion">
                <p>Ingrese los datos necesarios para calcular la derivada de la función.</p>
            </div>
            <div class="formulario">
                <div class="valor">
                    <label for="funcion">Funcion:</label>
                    <input type="text" name="funcion" id="funcion" required value="x**3 + x**2 + 2"
                    style="width: 10rem;">
                </div>
                
                <div class="valor">
                    <label for="metodo">Método:</label>
                    <select name="metodo" id="metodo" style="width: 5rem;" onchange="cambiarMetodo(this)">
                        <option value="adelante">Adelante</option>
                        <option value="atras">Atrás</option>
                        <option value="central">Central</option>
                        <option value="tres_puntos">3 Puntos</option>
                        <option value="cinco_puntos">5 Puntos</option>
                    </select>
                </div>
                
                
                <div class="valor">
                    <label for="orden">Derivada:</label>
                    <select name="orden" id="orden" style="width: 2rem;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                
                
                <div class="valor">
                    <label for="version">Versión:</label>
                    <select name="version" id="version" style="width: 2rem;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                
                
                
                <div class="valor">
                    <label for="h">h:</label>
                    <input type="number" name="h" id="h" required value="0.3" min="0.0001" step="0.1"
                    style="width: 3rem;">
                </div>
                
                <div class="valor">
                    <label for="xi">x:</label>
                    <input type="number" name="xi" id="xi" required value="1" style="width: 2rem;">
                </div>
                
            </div>
            
            
            <div class="ui">
                
                <div id="calcular" class="buttonBig button-green" onclick="calcular()">
                    <span class="material-symbols-outlined">
                        calculate
                    </span>
                    <span>Calcular</span>
                </div>
                <div id="guardar" class="buttonBig button-blue" onclick="guardarPDF('stepbystep')">
                    <span class="material-symbols-outlined">
                        save
                    </span>
                </div>
                <div id="borrar" class="buttonBig button-red" onclick="borrarPasos()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <div class="ui">
                <div class="buttonSmall button-yellow" onclick="mostrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        assignment
                    </span>
                    <span>Explícamelo</span>
                </div>
                <div class="buttonSmall button-orange" onclick="mostrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        account_tree
                    </span>
                    <span>Diagrama de Flujo</span>
                </div>
                <div class="buttonSmall button-purple" onclick="mostrarDialog('api')">
                    <span class="material-symbols-outlined">
                        api
                    </span>
                    <span>API</span>
                </div>
            </div>
        </div>
        <div id="stepbystep" class="stepbystep">
            <center>
                <p style="
                opacity: 0.2;
                font-weight: 700;
                color: #16167f;
                width: 100%;
                ">Aqui se mostrará el procedimiento</p>
            </center>
        </div>
        <div id="result" class="result" style="display: none;">
            <h2><span class="textGradient5">Resultados</span></h2>
            <div class="contentresult">
            </div>
        </div>
    </div>
    
    <br>
    <div class="footer">
        <a class="regresar" href="/">Regresar</a>
    </div>
    
    <!-- Sugerencias de Ejercicios 
        este sera una ventana que estara flotando a la derecha de la pagina
    -->
    <div class="sugerencias" style="right: calc(-253px);">
        <span><span class="textGradient1">
            Ejercicios Sugeridos
        </span>
    </span>
    <div id="ejercicios">
        
    </div>
    <div class="viñeta" onclick="cambiarEstadoSugerencias()">
        <span class="material-symbols-outlined textGradient4">
            keyboard_double_arrow_left
        </span>
    </div>
</div>

<dialog id="explicamelo">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('explicamelo')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            
            <h1>Métodos de Diferenciación Finita</h1>
            <p>
                La diferenciación finita es una técnica numérica para aproximar la derivada de una función
                utilizando valores discretos. Aquí se describen cinco métodos: adelante, atrás, central, 3 puntos y
                5 puntos.
            </p>
            
            <h2>1. Diferenciación Adelante</h2>
            <p>
                La fórmula de diferencia finita hacia adelante estima la derivada en un punto <em>x</em> usando el
                siguiente punto:
            </p>
            <pre>
                <code>
                    f'(x) ≈ (f(x + h) - f(x)) / h
                </code>
            </pre>
            
            <h2>2. Diferenciación Atrás</h2>
            <p>
                La fórmula de diferencia finita hacia atrás estima la derivada en un punto <em>x</em> usando el
                punto anterior:
            </p>
            <pre>
                <code>
                    f'(x) ≈ (f(x) - f(x - h)) / h
                </code>
            </pre>
            
            <h2>3. Diferenciación Central</h2>
            <p>
                La fórmula de diferencia finita central estima la derivada en un punto <em>x</em> usando los puntos
                anterior y siguiente:
            </p>
            <pre>
                <code>
                    f'(x) ≈ (f(x + h) - f(x - h)) / (2h)
                </code>
            </pre>
            
            <h2>4. Diferenciación de 3 Puntos</h2>
            <p>
                La fórmula de diferencia finita de 3 puntos es una técnica más precisa que utiliza tres puntos:
            </p>
            <pre>
                <code>
                    f'(x) ≈ (-3f(x) + 4f(x + h) - f(x + 2h)) / (2h)
                </code>
            </pre>
            
            <h2>5. Diferenciación de 5 Puntos</h2>
            <p>
                La fórmula de diferencia finita de 5 puntos proporciona una aproximación más exacta utilizando cinco
                puntos:
            </p>
            <pre>
                <code>
                    f'(x) ≈ (f(x - 2h) - 8f(x - h) + 8f(x + h) - f(x + 2h)) / (12h)
                </code>
            </pre>
            
            <p>
                Estos métodos permiten calcular aproximaciones de derivadas en puntos específicos utilizando valores
                discretos de la función, mejorando la precisión según la cantidad de puntos considerados.
            </p>
            
            <p>
                Además, cada uno de estos métodos tiene más de una fórmula y puede usarse para calcular derivadas de
                orden superior. Por ejemplo, también existen fórmulas para las segundas, terceras y cuartas
                derivadas basadas en diferencias finitas hacia adelante, hacia atrás y centrales. Estos métodos
                avanzados permiten mayor flexibilidad y precisión en la aproximación de derivadas numéricas en
                diferentes contextos.
            </p>
            
        </div>
    </div>
</dialog>

<dialog id="diagrama">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('diagrama')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            <h2>Diagrama de Flujo del Método Tartaglia</h2>
            <center>
                <p>Aqui debe ir una imagen bien perrona del codigo</p>
            </center>
        </div>
    </div>
</dialog>

<dialog id="api">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('api')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            <h2>API de los metodos de diferenciacion finita</h2>
            <br>
            <p>Para utilizar el método de diferenciacion Finita, se debe realizar una petición POST al siguiente endpoint:</p>
            <p>https://analisis-numerico-sand.vercel.app/metodos/diferenciacion/derivadas</p>
            <br>
            <p>El cuerpo de la petición debe contener un objeto JSON con la siguiente estructura:</p>
            <br>
            <pre>
                
                {
                    "funcion":"funcion",
                    "metodo":"nombre del metodo",
                    "version":numero de version del metodo,
                    "orden":orden de la derivada a calcular,
                    "h":valor de h,
                    "xi":valor de x a evaluar,
                }
                
                
            </pre>
        </div>
    </div>
</dialog>



<script>
    //Aqui debe ir la direccion del EndPoint de el Metodo
    let endPoint = "/metodos/diferenciacion/derivadas"
    //Aqui iran los id de todos los datos que se enviaran al EndPoint
    let variables = ["funcion", "metodo", "orden", "version", "h", "xi"];
    //Esta es la funcion que hace el POST y solo se modificara si y solo si es necesario
    function calcular() {
        let datos = {}
        variables.forEach(variable => {
            datos[variable] = document.getElementById(variable).value;
        });
        console.log(datos);
        realizarPeticionPOST(endPoint, datos)
    }
    //Aqui se pondran los ejercicios sugeridos y que se sepa que funcionan
    let ejercicios = [
    ["x**3 + x**2 + 2", "adelante", "1", "1", "0.3", "1"],
    ["x**3 + x**2 + 2", "atras", "1", "1", "0.3", "1"],
    ["x**3 + x**2 + 2", "central", "1", "1", "0.3", "1"],
    ["x**3 + x**2 + 2", "tres_puntos", "1", "1", "0.3", "1"],
    ["x**3 + x**2 + 2", "cinco_puntos", "1", "1", "0.3", "1"],
    ];
    
    
    
    
    function cambiarMetodo(select) {
        let metodo = select.value;
        let derivada = document.getElementById("orden");
        let version = document.getElementById("version");
        if (metodo == "cinco_puntos") {
            derivada.innerHTML = "<option value='1'>1</option>";
            version.innerHTML = `
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            `;
        } else if (metodo == "tres_puntos") {
            derivada.innerHTML = "<option value='1'>1</option>";
            version.innerHTML = `
            <option value="1">1</option>
            <option value="2">2</option>
            `;
        }
        else {
            derivada.innerHTML = `
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            `;
            version.innerHTML = "<option value='1'>1</option><option value='2'>2</option>";
        }
    }
</script>

<script src="/static/Loader/background.js" async></script>
</body>

</html>