<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Método Rosemberg</title>
    <!--Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Importa Mathquill -->
    <link rel="stylesheet" href="/static/matquill/mathquill.css">

    <!-- para el Loader -->
    <link rel="stylesheet" href="/static/Loader/loaders.css">

    <!-- Estilo de la pagina en General -->
    <link rel="stylesheet" href="{{ url_for('static', filename='templatestyles.css' ) }}?v={{ time }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleKeyboard.css' ) }}?v={{ time }}">


    <!-- Dependencias del Toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css" />

    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>


    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicono/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicono/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicono/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body>
    {% block keyboard %}
    {{ keyboard_content | safe }}
    {% endblock %}
    <div>
    </div>
    <span class="text_hero">Método <span class="textGradient1">Rosemberg</span></span>
    <div class="text_descripcion">
        <p>Es una técnica de integración numérica que combina la regla del trapecio compuesto con la extrapolación de Richardson para mejorar la precisión de la integración.</p>
    </div>
    
    <div class="content">
        <div id="main" class="main">
            <div class="descripocion">
                <p>Ingrese la integral que desea aproximar</p>
            </div>
            <div>
                <p>Integral: <span id="math-field"></span></p>
                <p><span id="latex"></span></p>
            </div>

            <div class="formulario" id="flex">
                <label for="nivel">Nivel</label>
                <input type="number" id="nivel" min="1" pattern="[1-9]+" required>
            </div>
            <div class="ui">
                <div id="calcular" class="buttonBig button-green" onclick="calcular()">
                    <span class="material-symbols-outlined">
                        calculate
                    </span>
                    <span>Calcular</span>
                </div>
                <div id="guardar" class="buttonBig button-blue" onclick="guardarPDF('stepbystep')">
                    <span class="material-symbols-outlined">
                        save
                    </span>
                </div>
                <div id="borrar" class="buttonBig button-red" onclick="borrarPasos()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <div class="ui">
                <div class="buttonSmall button-yellow" onclick="mostrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        assignment
                    </span>
                    <span>Explícamelo</span>
                </div>
                <div class="buttonSmall button-orange" onclick="mostrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        account_tree
                    </span>
                    <span>Diagrama de Flujo</span>
                </div>
                <div class="buttonSmall button-purple" onclick="mostrarDialog('api')">
                    <span class="material-symbols-outlined">
                        api
                    </span>
                    <span>API</span>
                </div>
            </div>
        </div>
        <div id="stepbystep" class="stepbystep">
            <center>
                <p style="
                    opacity: 0.2;
                    font-weight: 700;
                    color: #16167f;
                    width: 100%;
                    ">Aqui se mostrará el procedimiento</p>

                </p>
            </center>
        </div>
        <div id="result" class="result" style="display: none;">
            <h2><span class="textGradient5">Resultados</span></h2>
            <div class="contentresult">
            </div>
        </div>
    </div>

    <br>
    <div class="footer">
        <a class="regresar" href="/">Regresar</a>
    </div>

    <!-- Sugerencias de Ejercicios 
    este sera una ventana que estara flotando a la derecha de la pagina
    -->
    <div class="sugerencias" style="right: calc(-253px);">
        <span><span class="textGradient1">
                Ejercicios Sugeridos
            </span>
        </span>
        <div id="ejercicios">
            <math xmlns="http://www.w3.org/1998/Math/MathML"><munderover accent='false' accentunder='false'><mo>&#x222b;</mo><mn>0.4</mn><mn>3</mn></munderover><msup><mi>e</mi><mrow><msup><mi>x</mi><mn>2</mn></msup></mrow></msup><mi lspace="0.2em" rspace="0">d</mi><mi>x</mi></math>
            <math xmlns="http://www.w3.org/1998/Math/MathML"><munderover accent='false' accentunder='false'><mo>&#x222b;</mo><mn>3.6</mn><mn>6</mn></munderover><mfrac><mrow><msup><mi>e</mi><mrow><mo>-</mo><mi>x</mi></mrow></msup></mrow><mrow><msub><mi>log</mi><mn>10</mn></msub><mfenced><mi>x</mi></mfenced></mrow></mfrac><mi lspace="0.2em" rspace="0">d</mi><mi>x</mi></math>
        </div>
        <div class="viñeta" onclick="cambiarEstadoSugerencias()">
            <span class="material-symbols-outlined textGradient4">
                keyboard_double_arrow_left
            </span>
        </div>
    </div>

    <dialog id="explicamelo">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>

                <h2>Método de Rosemberg</h2>
                <p>El método de Romberg es una técnica de integración numérica que mejora la precisión de la integración compuesta del trapecio mediante la extrapolación de Richardson. Este método aprovecha una serie de aproximaciones de la integral calculadas con el método del trapecio y combina estos resultados para obtener una mejor aproximación.</p>

                <h2>Descripción del Método de Rosemberg</h2>
                <p>Primero, se utiliza el método del trapecio compuesto para aproximar la integral. La fórmula del trapecio compuesto para  n subintervalos es:</p>
                <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>I</mi><mo>=</mo><mrow><mo>(</mo><mfrac><mrow><mi>b</mi><mo>-</mo><mi>a</mi></mrow><mrow><msup><mn>2</mn><mi>n</mi></msup></mrow></mfrac><mo>)</mo></mrow><mo>(</mo><mi>f</mi><mrow><mo>(</mo><mrow><msub><mi>x</mi><mn>0</mn></msub></mrow><mo>)</mo></mrow><mo>+</mo><mn>2</mn><munderover accent='false' accentunder='false'><mo>&#x2211;</mo><mrow><mi>i</mi><mo>=</mo><mn>1</mn></mrow><mrow><mi>n</mi><mo>-</mo><mn>1</mn></mrow></munderover><mi>f</mi><mo>(</mo><msub><mi>x</mi><mi>i</mi></msub><mo>)</mo><mo>+</mo><mi>f</mi><mrow><mo>(</mo><mrow><msub><mi>x</mi><mi>n</mi></msub></mrow><mo>)</mo></mrow><mo>)</mo></math>
                <h2>Extrapolación de Richardson</h2>
                <p>Luego, se aplica la extrapolación de Richardson para mejorar las aproximaciones. La extrapolación de Richardson se basa en la fórmula:</p>
                <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>I</mi><mo>(</mo><mi>k</mi><mo>+</mo><mn>1</mn><mo>,</mo><mo>&#xA0;</mo><mi>i</mi><mo>)</mo><mo>=</mo><mfrac><mrow><msup><mn>4</mn><mi>k</mi></msup><mi>I</mi><mo>(</mo><mi>k</mi><mo>-</mo><mn>1</mn><mo>,</mo><mo>&#xA0;</mo><mi>i</mi><mo>+</mo><mn>1</mn><mo>)</mo><mo>-</mo><mi>I</mi><mo>(</mo><mi>k</mi><mo>-</mo><mn>1</mn><mo>,</mo><mo>&#xA0;</mo><mi>i</mi><mo>)</mo></mrow><mrow><msup><mn>4</mn><mi>k</mi></msup><mo>-</mo><mn>1</mn></mrow></mfrac></math>
                <p>Las aproximaciones se organizan en una tabla triangular, donde cada nivel de la tabla utiliza la extrapolación de Richardson para mejorar las aproximaciones en el nivel anterior.</p>

            </div>
        </div>
    </dialog>

    <dialog id="diagrama">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <h2>Diagrama de Flujo del Método Bisección</h2>
                <center>
                    <p>Aqui debe ir una imagen bien perrona del codigo</p>
                </center>
            </div>
        </div>
    </dialog>

    <dialog id="api">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('api')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <h2>API del Método Bisección</h2>
                <p>Para utilizar el método de la bisección a través de la API, debes realizar una petición POST al
                    siguiente endpoint:</p>
                <p><code>https://nummeth.herokuapp.com/metodos/directos/cerrados/Biseccion</code></p>
                <p>Los parámetros que debes incluir en la petición son los siguientes:</p>
                <ul>
                    <li><code>funcion</code>: La función para la cual deseas encontrar la raíz.</li>
                    <li><code>xi</code>: El valor inicial del intervalo [Xi, Xu].</li>
                    <li><code>xu</code>: El valor final del intervalo [Xi, Xu].</li>
                    <li><code>tolerancia</code>: La tolerancia deseada para la aproximación de la raíz.</li>
                </ul>
                <p>Al realizar la petición, recibirás como respuesta un objeto JSON con los siguientes campos:</p>
                <ul>
                    <li><code>raiz</code>: El valor aproximado de la raíz de la función.</li>
                    <li><code>iteraciones</code>: El número de iteraciones realizadas para encontrar la raíz.</li>
                    <li><code>error</code>: El error relativo porcentual de la aproximación.</li>
                </ul>
                <p>¡Inténtalo y encuentra la raíz de tus funciones de forma sencilla!</p>
            </div>
        </div>
    </dialog>

    <script type="text/javascript" src="/static/matquill/mathquill.js"></script>
    <script type="text/javascript">
      MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

      var latex = $('#math-field').bind('keydown keypress', function () {
        var prev = latex.val();
        setTimeout(function () {
          var now = latex.val();
          if (now !== prev) mq.latex(now);
        });
      });
      var mq = MQ.MathField($('#latex')[0], {
        autoSubscriptNumerals: true,
        autoCommands:
          'alpha beta sqrt theta phi pi tau nthroot cbrt prod int ans percent mid square',
        autoParenthesizedFunctions: 'sin cos',
        handlers: {
          edit: function () {
            if (!latex.is(':focus')) latex.val(mq.latex());
          },
        },
      });
      latex.val(mq.latex());
    </script>

<script>
    //Aqui debe ir la direccion del EndPoint de el Metodo
    let endPoint = "/metodos/integracion/metodo-rosemberg"
    //Aqui iran los id de todos los datos que se enviaran al EndPoint
    let variables = ["nivel"];
    //Esta es la funcion que hace el POST y solo se modificara si y solo si es necesario
    function calcular() {

        // Obtener el input
        const input = document.getElementById('nivel');

        // Verificar la validez del input
        if (!input.checkValidity()) {
            // Si no es válido, mostrar el mensaje de error
            input.classList.add('error');
            input.reportValidity(); // Mostrar el mensaje de validación propio del navegador
        } else {
            // Si es válido, remover la clase de error y realizar el cálculo
            input.classList.remove('error');
            let datos = {}
            datos["latex"] = document.getElementById("latex").textContent;
            variables.forEach(variable => {
                datos[variable] = document.getElementById(variable).value;
            });
            console.log(datos);
            realizarPeticionPOST(endPoint, datos)
        }
        
    }
    //metodos de inicio para que se vea bien la interfaz
    mostrarEjercicio()
    setTimeout(() => {
        cambiarEstadoSugerencias()
    }, 4000);
</script>


    <!--Script de teclado-->
    <script defer>
        $(document).ready(function () {
            var MQ = MathQuill.getInterface(2); // for backcompat
            var mathFieldSpan = document.getElementById('math-field');
            var latexSpan = document.getElementById('latex');

            var mathField = MQ.MathField(mathFieldSpan, {
                spaceBehavesLikeTab: true, // configurable
                handlers: {
                    edit: function () { // useful event handlers
                        latexSpan.textContent = mathField.latex(); // simple API
                    }
                }
            });

            // Añadir funcionalidad a los botones del panel matemático
            $('.math-button').on('click', function () {
                var symbol = $(this).data('symbol');
                mathField.write(symbol);
                mathField.focus({ focusVisible: true });
            });

        });
    </script>
    <script src="/static/Loader/background.js" async></script>

</body>

</html>