-




<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpolacion Trazadores Cubicos</title>
    <!-- para el Loader -->
    <link rel="stylesheet" href="/static/Loader/loaders.css">
    
    <!-- Estilo de la pagina en General -->
    <link rel="stylesheet" href="/static/templatestyles.css">
    
    <!-- Dependencias del Toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css" />
    
    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicono/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicono/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicono/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div>
    </div>
    <span class="text_hero">Interpolacion por <span class="textGradient1">Trazadores Cúbicos</span></span>
    <p>Es método utilizado para encontrar un polinomio que pase por un conjunto de
        puntos dados</p>
        <div class="content">
            <div id="main" class="main">
                <div class="descripocion">
                    <p>Por favor, ingrese los datos necesarios para realizar el cálculo.</p>
                </div>
                <div class="formulario" style="
                width: 100%;
                justify-content: center;
                
                ">
                <div class="valor" style="
                gap: 2rem;
                ">
                <label for="grado">Grado:</label>
                <input type="range" name="grado" id="grado" required min="0" max="3" value="1"
                oninput="document.getElementById('valorGrado').textContent = this.value">
                <label for="grado" id="valorGrado">1</label>
            </div>
        </div>
        <div class="tablas-input">
            <div class="inputTable">
                <div id="puntosX" class="puntos" style="display: flex;">
                    <div>X</div>
                    <div class="puntosContainer" style="display: flex;
                    flex-wrap: wrap;">
                </div>
            </div>
            <div id="puntosY" class="puntos" style="display: flex;">
                <div>f(x)</div>
                <div class="puntosContainer" style="display: flex;
                flex-wrap: wrap;">
            </div>
        </div>
    </div>
    <div class="control-tabla-input">
        <div class="buttonSmall button-grey" onclick="añadirInputPuntos()">
            <span class="material-symbols-outlined">
                add
            </span>
        </div>
        <div class="buttonSmall button-grey" onclick="eliminarInputPunto()">
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
    </div>
</div>

<div class="ui">
    <div id="calcular" class="buttonBig button-green" onclick="calcular()">
        <span class="material-symbols-outlined">
            calculate
        </span>
        <span>Calcular</span>
    </div>
    <div id="guardar" class="buttonBig button-blue" onclick="guardarPDF('stepbystep')">
        <span class="material-symbols-outlined">
            save
        </span>
    </div>
    <div id="borrar" class="buttonBig button-red" onclick="borrarPasos()">
        <span class="material-symbols-outlined">
            delete
        </span>
    </div>
</div>
<div class="ui">
    <div class="buttonSmall button-yellow" onclick="mostrarDialog('explicamelo')">
        <span class="material-symbols-outlined">
            assignment
        </span>
        <span>Explícamelo</span>
    </div>
    <div class="buttonSmall button-orange" onclick="mostrarDialog('diagrama')">
        <span class="material-symbols-outlined">
            account_tree
        </span>
        <span>Diagrama de Flujo</span>
    </div>
    <div class="buttonSmall button-purple" onclick="mostrarDialog('api')">
        <span class="material-symbols-outlined">
            api
        </span>
        <span>API</span>
    </div>
</div>
</div>
<div id="stepbystep" class="stepbystep">
    <center>
        <p style="
        opacity: 0.2;
        font-weight: 700;
        color: #16167f;
        width: 100%;
        ">Aqui se mostrará el procedimiento</p>
    </center>
</div>
<div id="result" class="result" style="display: none;">
    <h2><span class="textGradient5">Resultados</span></h2>
    <div class="contentresult">
    </div>
</div>
</div>

<br>
<div class="footer">
    <a class="regresar" href="/">Regresar</a>
</div>

<!-- Sugerencias de Ejercicios 
    este sera una ventana que estara flotando a la derecha de la pagina
-->
<div class="sugerencias" style="right: calc(-253px);">
    <span><span class="textGradient1">
        Ejercicios Sugeridos
    </span>
</span>
<div id="ejercicios">
    
</div>
<div class="viñeta" onclick="cambiarEstadoSugerencias()">
    <span class="material-symbols-outlined textGradient4">
        keyboard_double_arrow_left
    </span>
</div>
</div>

<dialog id="explicamelo">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('explicamelo')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            
            
        </div>
        <h1>Interpolación de Trazadores Cúbicos</h1>
        <p>
            El método de interpolación de trazadores cúbicos es una técnica utilizada para aproximar una función mediante múltiples polinomios cúbicos en intervalos definidos por nodos. Los trazadores cúbicos son suaves y se derivan analíticamente, lo que los hace útiles en diversas aplicaciones de interpolación.
        </p>
        
        <h2>Grado 0 - Interpolación Constante</h2>
        <p>
            En la interpolación de grado 0, cada intervalo está representado por una función constante que pasa por los nodos extremos del intervalo. Esta aproximación es útil cuando se requiere una interpolación simple y lineal entre nodos.
        </p>
        
        <h2>Grado 1 - Interpolación Lineal</h2>
        <p>
            La interpolación de grado 1 utiliza polinomios de primer grado (líneas rectas) para conectar los nodos adyacentes. Cada segmento de la interpolación es una línea recta definida por dos nodos consecutivos.
        </p>
        
        <h2>Grado 2 - Interpolación Cuadrática</h2>
        <p>
            En la interpolación de grado 2, se emplean polinomios cuadráticos para aproximar la función entre los nodos. Cada segmento de interpolación se caracteriza por una parábola que pasa por tres nodos consecutivos.
        </p>
        
        <h2>Grado 3 - Interpolación Cúbica (Trazadores Cúbicos)</h2>
        <p>
            La interpolación de grado 3, conocida como interpolación cúbica, utiliza polinomios cúbicos para aproximar la función en cada intervalo. Estos polinomios son suaves y continuos hasta la segunda derivada en los puntos de unión, lo que garantiza una transición suave entre los tramos adyacentes.
        </p>
        
        <p>
            En resumen, el método de interpolación de trazadores cúbicos proporciona una aproximación suave y precisa de una función mediante la combinación de múltiples polinomios cúbicos en intervalos definidos por nodos.
        </p>
        
    </div>
</dialog>

<dialog id="diagrama">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('diagrama')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            <h2>Diagrama de Flujo del Método de trazadores cubicos</h2>
            <center>
                <p>Aqui debe ir una imagen bien perrona del codigo</p>
            </center>
        </div>
    </div>
</dialog>

<dialog id="api">
    <div class="contenido">
        <div class="dialog-content">
            <span class="close" onclick="cerrarDialog('api')">
                <span class="material-symbols-outlined">
                    close
                </span>
            </span>
            <h2>API del Método de Trazadores Cubicos</h2>
            <p>Para utilizar el método de Trazadores Cubicos a través de la API, debes realizar una petición POST al
                siguiente
                endpoint:</p>
                <p>https://analisis-numerico-sand.vercel.app/metodos/interpolacion/trazadores_cubicos</p>
                <br>
                <p>El cuerpo de la petición debe contener un objeto JSON con la siguiente estructura:</p>
                <br>
                <pre>
                    
                    {
                        "matrizPuntos":[[x0, y0,..xn], [x1, y1..yn]],
                        "grado": valor del grado de interpolacion,
                    }
                    
                </pre>
            </div>
            
            
        </dialog>
        
        
        
        <script>
            //Aqui debe ir la direccion del EndPoint de el Metodo
            let endPoint = "/metodos/interpolacion/trazadores_cubicos"
            //Aqui iran los id de todos los datos que se enviaran al EndPoint
            let variables = ["funcion"];
            //Esta es la funcion que hace el POST y solo se modificara si y solo si es necesario
            function calcular() {
                let datos = {};
                let arrayOfPuntos = [];
                let grado = document.getElementById("grado").value;
                datos.grado = grado;
                for (let i = 0; i < idpuntos.length; i++) {
                    let puntos = Array.from(document.getElementById(idpuntos[i]).children[1].children);
                    puntos = puntos.map(punto => punto.value);
                    arrayOfPuntos.push(puntos);
                }
                
                
                datos.matrizPuntos = arrayOfPuntos;
                console.log(datos);
                realizarPeticionPOST(endPoint, datos);
            }
            let idpuntos = ["puntosX", "puntosY"]
            let numeroDePuntos = 0;
            
            
            function establecerSeleccion(elemento, tipo, mostrar) {
                let index = Array.from(elemento.parentNode.children).indexOf(elemento);
                idpuntos.forEach(id => {
                    let puntos = document.getElementById(id).children[1];
                    switch (tipo) {
                        case 1:
                        if (mostrar) {
                            puntos.children[index].classList.add("input-focus");
                        } else {
                            puntos.children[index].classList.remove("input-focus");
                        }
                        break;
                        case 2:
                        if (mostrar) {
                            puntos.children[index].classList.add("input-hover");
                        } else {
                            puntos.children[index].classList.remove("input-hover");
                        }
                        break;
                    }
                });
            }
            
            function añadirInputPuntos() {
                numeroDePuntos++;
                idpuntos.forEach(id => {
                    let puntos = document.getElementById(id).children[1];
                    let input = document.createElement("input");
                    input.type = "number";
                    input.onfocus = function () {
                        establecerSeleccion(this, 1, true);
                    }
                    input.onblur = function () {
                        establecerSeleccion(this, 1, false);
                    }
                    input.onmouseover = function () {
                        establecerSeleccion(this, 2, true);
                    }
                    input.onmouseout = function () {
                        establecerSeleccion(this, 2, false);
                    }
                    input.style.width = "0rem";
                    input.style.padding = "0rem";
                    input.style.height = "0rem";
                    puntos.insertBefore(input, puntos.children[puntos.children.length]);
                    
                    
                    setTimeout(() => {
                        input.style.width = "3rem";
                        input.style.height = "2.4rem";
                        input.style.padding = "0.5rem";
                    }, 10);
                });
            }
            
            function eliminarInputPunto() {
                if (document.getElementById("puntosX").children[1].children.length > 4) {
                    numeroDePuntos--;
                    idpuntos.forEach(id => {
                        let puntos = document.getElementById(id).children[1];
                        let input = puntos.children[numeroDePuntos];
                        input.style.width = "0rem";
                        input.style.padding = "0rem";
                        input.style.height = "0rem";
                        setTimeout(() => {
                            puntos.removeChild(input);
                        }, 500);
                    });
                }
            }
            
            setTimeout(() => {
                for (let i = 0; i < 5; i++) {
                    añadirInputPuntos();
                }
            }, 100);
            
            //Aqui se pondran los ejercicios sugeridos y que se sepa que funcionan
            let ejercicios = [
            ["funcion"],
            ["3*x**3 + 5*x**2 - 4*x + 1"],
            ["log(x)"],
            ["-28*x**3/3 + 37*x**2 - 62*x/3 - 1"]
            ]
        </script>
        
        <script src="/static/Loader/background.js" async></script>
    </body>
    
    </html>