-




<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpolacion de Newton Recursivo</title>

    <!--Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Importa Mathquill -->
    <link rel="stylesheet" href="/static/matquill/mathquill.css">


    <!-- para el Loader -->
    <link rel="stylesheet" href="/static/Loader/loaders.css">

    <!-- Estilo de la pagina en General -->
    <!-- Estilo de la pagina en General -->
    <link rel="stylesheet" href="{{ url_for('static', filename='templatestyles.css' ) }}?v={{ time }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleKeyboard.css' ) }}?v={{ time }}">

    <!-- Dependencias del Toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css" />

    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicono/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicono/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicono/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    {% block keyboard %}
    {{ keyboard_content | safe }}
    {% endblock %}

    <div>
    </div>
    <span class="text_hero">Interpolacion de <span class="textGradient1">Newton Recursivo</span></span>
    <p>Este método de interpolación se obtiene a partir de la fórmula de Newton Método Recursivo</p>
    <div class="content">
        <div id="main" class="main">
            <div class="descripocion">
                <p>Por favor, ingrese los datos necesarios para realizar el cálculo.</p>
            </div>
            <div>
                <p>Función: <span id="math-field"></span></p>
                <p><span id="latex"></span></p>
            </div>
            <div class="formulario">
                <div class="valor">
                    <label for="tipo">Modo tabla:</label>
                    <input type="checkbox" name="tipo" id="tipo" onchange="cambiarTipo(this)">
                </div>
            </div>
            <div class="tablas-input">
                <div class="inputTable">
                    <div id="puntosX" class="puntos" style="display: flex;">
                        <div>X</div>
                        <div class="puntosContainer" style="display: flex;
                    flex-wrap: wrap;">
                        </div>
                    </div>
                    <div id="puntosY" class="puntos" style="display: flex;
                    opacity: 0;
                    display: none;
                    margin-top: -2.5rem;">
                        <div>f(x)</div>
                        <div class="puntosContainer" style="display: flex;
                    flex-wrap: wrap;">
                        </div>
                    </div>
                </div>
                <div class="control-tabla-input">
                    <div class="buttonSmall button-grey" onclick="añadirInputPuntos()">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </div>
                    <div class="buttonSmall button-grey" onclick="eliminarInputPunto()">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </div>
                </div>
            </div>

            <div class="ui">
                <div id="calcular" class="buttonBig button-green" onclick="calcular()">
                    <span class="material-symbols-outlined">
                        calculate
                    </span>
                    <span>Calcular</span>
                </div>
                <div id="guardar" class="buttonBig button-blue" onclick="guardarPDF('stepbystep')">
                    <span class="material-symbols-outlined">
                        save
                    </span>
                </div>
                <div id="borrar" class="buttonBig button-red" onclick="borrarPasos()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <div class="ui">
                <div class="buttonSmall button-yellow" onclick="mostrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        assignment
                    </span>
                    <span>Explícamelo</span>
                </div>
                <div class="buttonSmall button-orange" onclick="mostrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        account_tree
                    </span>
                    <span>Diagrama de Flujo</span>
                </div>
                <div class="buttonSmall button-purple" onclick="mostrarDialog('api')">
                    <span class="material-symbols-outlined">
                        api
                    </span>
                    <span>API</span>
                </div>
            </div>
        </div>
        <div id="stepbystep" class="stepbystep">
            <center>
                <p style="
                    opacity: 0.2;
                    font-weight: 700;
                    color: #16167f;
                    width: 100%;
                    ">Aqui se mostrará el procedimiento</p>
            </center>
        </div>
        <div id="result" class="result" style="display: none;">
            <h2><span class="textGradient5">Resultados</span></h2>
            <div class="contentresult">
            </div>
        </div>
    </div>

    <br>
    <div class="footer">
        <a class="regresar" href="/">Regresar</a>
    </div>

    <!-- Sugerencias de Ejercicios 
    este sera una ventana que estara flotando a la derecha de la pagina
    -->
    <div class="sugerencias" style="right: calc(-253px);">
        <span><span class="textGradient1">
                Ejercicios Sugeridos
            </span>
        </span>
        <div id="ejercicios">
            <p>funcion: 3x<sup>3</sup> + 5x<sup>2</sup> - 4x + 1</p>
            <p>Puntos en x: [0, 1, 2, 3]</p>
        </div>
        <div class="viñeta" onclick="cambiarEstadoSugerencias()">
            <span class="material-symbols-outlined textGradient4">
                keyboard_double_arrow_left
            </span>
        </div>
    </div>

    <dialog id="explicamelo">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>


            </div>
            <h2>Explicación del Método de Newton Recursivo</h2>
            <p>El método de Newton Recursivo es un método de interpolación que se obtiene a partir de la fórmula de
                Newton. Este método se utiliza para encontrar un polinomio que pase por un conjunto de puntos dados. El
                polinomio resultante es de la forma:</p>
            <p>P_n(x) = f[x_0] + f[x_0,x_1](x-x_0) + f[x_0,x_1,x_2](x-x_0)(x-x_1) + ... +
                f[x_0,x_1,...,x_n](x-x_0)(x-x_1)...(x-x_{n-1})</p>
            <br>
            <p>Donde los coeficientes \(f[x_0,x_1,...,x_k]\) se calculan de forma recursiva utilizando la fórmula:</p>
            <p>f[x_0,x_1,...,x_k] = \frac{f[x_1,...,x_k] - f[x_0,...,x_{k-1}]}{x_k - x_0}</p>
            <br>
            <p>Para encontrar el polinomio interpolante, se evalúa la función en los puntos</p>
            \(x_0, x_1, ..., x_n\)
            <p>y se calculan los coeficientes \(f[x_0], f[x_0,x_1], ..., f[x_0,x_1,...,x_n]\) de forma recursiva.</p>
            <br>
            <p>El polinomio resultante es el polinomio interpolante de Newton, que pasa por los puntos dados.</p>
        </div>
    </dialog>

    <dialog id="diagrama">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <center>
                    <h2>Diagrama de Flujo del Método de Newton Recursivo</h2>
                    <img src="/static/img/unidad_tres/newton recursivo.jpg">
                </center>
            </div>
        </div>
    </dialog>

    <dialog id="api">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('api')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <h2>API del Método de Newton Recursivo</h2>
                <p>Para utilizar el método de Newton Recursivo a través de la API, debes realizar una petición POST al
                    siguiente
                    endpoint:</p>
                <p>https://analisis-numerico-sand.vercel.app/metodos/interpolacion/newton_recursivo</p>
                <br>
                <p>Los parametros se deben enviar en formato JSON, Existen dos formas para poder realizar el calculo:
                </p>
                <br>
                <p>1. Ingresando la función y los puntos unicamente de X en donde se evaluará la función para obtener
                    los
                    puntos de Y</p>
                <div class="example">
                    <p>Ejemplo:</p>
                    <pre>
                        {
                            "tipo": 1,
                            "funcion": "3*x**3 + 5*x**2 - 4*x + 1",
                            "matrizPuntos": [
                                ["0", "1", "2", "3"]
                            ]
                        }
                    </pre>
                </div>

                <p>2. Ingresando los puntos de X y Y sin la función</p>
                <div class="example">
                    <p>Ejemplo:</p>
                    <pre>
                        {
                            "tipo": 2,
                            "matrizPuntos": [
                                ["0", "1", "2", "3"],
                                ["-1", "6", "31", "18"]
                            ]
                        }
                    </pre>
                </div>


    </dialog>

    <script type="text/javascript" src="/static/matquill/mathquill.js"></script>
    <script type="text/javascript">
        MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

        var latex = $('#math-field').bind('keydown keypress', function () {
            var prev = latex.val();
            setTimeout(function () {
                var now = latex.val();
                if (now !== prev) mq.latex(now);
            });
        });
        var mq = MQ.MathField($('#latex')[0], {
            autoSubscriptNumerals: true,
            autoCommands:
                'alpha beta sqrt theta phi pi tau nthroot cbrt prod int ans percent mid square',
            autoParenthesizedFunctions: 'sin cos',
            handlers: {
                edit: function () {
                    if (!latex.is(':focus')) latex.val(mq.latex());
                },
            },
        });
        latex.val(mq.latex());
    </script>



    <script>
        //Aqui debe ir la direccion del EndPoint de el Metodo
        let endPoint = "/metodos/interpolacion/newton_recursivo"
        //Aqui iran los id de todos los datos que se enviaran al EndPoint
        let variables = ["latex"];
        //Esta es la funcion que hace el POST y solo se modificara si y solo si es necesario
        function calcular() {
            let datos = {};
            let arrayOfPuntos = [];
            let tipo = document.getElementById("tipo").checked ? 2 : 1;
            datos.tipo = tipo;
            if (tipo === 1) {
                datos.latex = document.getElementById("latex").textContent;

            }
            let resta = tipo === 1 ? 1 : 0;

            for (let i = 0; i < (idpuntos.length - resta); i++) {
                let puntos = Array.from(document.getElementById(idpuntos[i]).children[1].children);
                puntos = puntos.map(punto => punto.value);
                arrayOfPuntos.push(puntos);
            }

            datos.matrizPuntos = arrayOfPuntos;
            console.log(datos);
            realizarPeticionPOST(endPoint, datos);
        }
        let idpuntos = ["puntosX", "puntosY"]
        let numeroDePuntos = 0;

        function cambiarTipo(checkbox) {
            if (checkbox.checked) {
                let latex = document.getElementById("latex").parentElement.parentElement
                latex.style.transition = "opacity 0.5s";
                latex.style.zIndex = -40;

                setTimeout(() => {
                    latex.style.opacity = 0.3;
                }, 10);
                document.getElementById("puntosY").style.display = "flex";
                setTimeout(() => {
                    document.getElementById("puntosY").style.marginTop = 0;
                    setTimeout(() => {
                        document.getElementById("puntosY").style.opacity = 1;
                    }, 300);
                }, 10);
            } else {
                let latex = document.getElementById("latex").parentElement.parentElement
                latex.style.transition = "opacity 0.5s";
                latex.style.zIndex = 0;
                setTimeout(() => {
                    latex.style.opacity = 1;
                }, 10);
                document.getElementById("puntosY").style.marginTop = -document.getElementById("puntosY").offsetHeight + "px";
                document.getElementById("puntosY").style.opacity = 0;
                setTimeout(() => {
                    document.getElementById("puntosY").style.display = "none";
                }, 500);
            }
        }

        function establecerSeleccion(elemento, tipo, mostrar) {
            let index = Array.from(elemento.parentNode.children).indexOf(elemento);
            idpuntos.forEach(id => {
                let puntos = document.getElementById(id).children[1];
                switch (tipo) {
                    case 1:
                        if (mostrar) {
                            puntos.children[index].classList.add("input-focus");
                        } else {
                            puntos.children[index].classList.remove("input-focus");
                        }
                        break;
                    case 2:
                        if (mostrar) {
                            puntos.children[index].classList.add("input-hover");
                        } else {
                            puntos.children[index].classList.remove("input-hover");
                        }
                        break;
                }
            });
        }

        function añadirInputPuntos() {
            numeroDePuntos++;
            idpuntos.forEach(id => {
                let puntos = document.getElementById(id).children[1];
                let input = document.createElement("input");
                input.type = "number";
                input.onfocus = function () {
                    establecerSeleccion(this, 1, true);
                }
                input.onblur = function () {
                    establecerSeleccion(this, 1, false);
                }
                input.onmouseover = function () {
                    establecerSeleccion(this, 2, true);
                }
                input.onmouseout = function () {
                    establecerSeleccion(this, 2, false);
                }
                input.style.width = "0rem";
                input.style.padding = "0rem";
                input.style.height = "0rem";
                puntos.insertBefore(input, puntos.children[puntos.children.length]);


                setTimeout(() => {
                    input.style.width = "3rem";
                    input.style.height = "2.4rem";
                    input.style.padding = "0.1rem";
                }, 10);
            });
        }

        function eliminarInputPunto() {
            if (document.getElementById("puntosX").children[1].children.length > 4) {
                numeroDePuntos--;
                idpuntos.forEach(id => {
                    let puntos = document.getElementById(id).children[1];
                    let input = puntos.children[numeroDePuntos];
                    input.style.width = "0rem";
                    input.style.padding = "0rem";
                    input.style.height = "0rem";
                    setTimeout(() => {
                        puntos.removeChild(input);
                    }, 500);
                });
            }
        }

        setTimeout(() => {
            for (let i = 0; i < 4; i++) {
                añadirInputPuntos();
            }
        }, 100);

    </script>

    <!--Script de teclado-->
    <script defer>
        $(document).ready(function () {
            var MQ = MathQuill.getInterface(2); // for backcompat
            var mathFieldSpan = document.getElementById('math-field');
            var latexSpan = document.getElementById('latex');

            var mathField = MQ.MathField(mathFieldSpan, {
                spaceBehavesLikeTab: true, // configurable
                handlers: {
                    edit: function () { // useful event handlers
                        latexSpan.textContent = mathField.latex(); // simple API
                    }
                }
            });

            // Añadir funcionalidad a los botones del panel matemático
            $('.math-button').on('click', function () {
                var symbol = $(this).data('symbol');
                mathField.write(symbol);
                mathField.focus({ focusVisible: true });
            });

        });
    </script>

    <script src="/static/Loader/background.js" async></script>
</body>

</html>