<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Método Multipasos</title>
    <!--Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Importa Mathquill -->
    <link rel="stylesheet" href="/static/matquill/mathquill.css">


    <!-- para el Loader -->
    <link rel="stylesheet" href="/static/Loader/loaders.css">

    <!-- Estilo de la pagina en General -->
    <!-- Estilo de la pagina en General -->
    <link rel="stylesheet" href="{{ url_for('static', filename='templatestyles.css' ) }}?v={{ time }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleKeyboard.css' ) }}?v={{ time }}">

    <!-- Dependencias del Toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css" />

    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicono/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicono/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicono/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    {% block keyboard %}
    {{ keyboard_content | safe }}
    {% endblock %}
    <div>
    </div>
    <span class="text_hero">Método de <span class="textGradient1">Multipasos</span></span>
    <p> El método multipasos es una técnica numérica para resolver ecuaciones diferenciales ordinarias, que utiliza
        varios pasos anteriores para calcular la solución en el siguiente punto.
    </p>

    <div class="content">
        <div id="main" class="main">
            <div class="descripcion">
                <p>Ingrese los datos necesarios para resolver la EDO.</p>
            </div>
            <div>
                <p>Y′(x): <span id="math-field"></span></p>
                <p><span id="latex"></span></p>
            </div>
            <div class="formulario">

                <div class="valor">
                    <label for="h">h:</label>
                    <input type="number" name="h" id="h" required value="0.2" min="0.0001" step="0.1"
                        style="width: 3rem;">
                </div>
                <div class="valor">
                    <label for="x_inicial">X<sub>inicial</sub></label>
                    <input type="number" name="x_inicial" id="x_inicial" required value="0" style="width: 3rem;">
                </div>
                <div class="valor">
                    <label for="y_inicial">Y<sub>inicial</sub></label>
                    <input type="number" name="y_inicial" id="y_inicial" required value="1" style="width: 3rem;">
                </div>
                <div class="valor">
                    <label for="x_final" style="text-wrap: nowrap;">X<sub>final</sub>:</label>
                    <input type="number" name="x_final" id="x_final" required value="0.8" style="width: 3rem;">
                </div>
                <div class="valor">
                    <label for="pasos">pasos:</label>
                    <select name="pasos" id="pasos" required value="4" style="width: 5rem;">
                        <option value="2">pasos 2</option>
                        <option value="4">pasos 4</option>
                    </select>

                </div>

            </div>


            <div class="ui">

                <div id="calcular" class="buttonBig button-green" onclick="calcular()">
                    <span class="material-symbols-outlined">
                        calculate
                    </span>
                    <span>Calcular</span>
                </div>
                <div id="guardar" class="buttonBig button-blue" onclick="guardarPDF('stepbystep')">
                    <span class="material-symbols-outlined">
                        save
                    </span>
                </div>
                <div id="borrar" class="buttonBig button-red" onclick="borrarPasos()">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <div class="ui">
                <div class="buttonSmall button-yellow" onclick="mostrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        assignment
                    </span>
                    <span>Explícamelo</span>
                </div>
                <div class="buttonSmall button-orange" onclick="mostrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        account_tree
                    </span>
                    <span>Diagrama de Flujo</span>
                </div>
                <div class="buttonSmall button-purple" onclick="mostrarDialog('api')">
                    <span class="material-symbols-outlined">
                        api
                    </span>
                    <span>API</span>
                </div>
            </div>
        </div>
        <div id="stepbystep" class="stepbystep">
            <center>
                <p style="
                opacity: 0.2;
                font-weight: 700;
                color: #16167f;
                width: 100%;
                ">Aqui se mostrará el procedimiento</p>
            </center>
        </div>
        <div id="result" class="result" style="display: none;">
            <h2><span class="textGradient5">Resultados</span></h2>
            <div class="contentresult">
            </div>
        </div>
    </div>

    <br>
    <div class="footer">
        <a class="regresar" href="/">Regresar</a>
    </div>

    <!-- Sugerencias de Ejercicios 
    este sera una ventana que estara flotando a la derecha de la pagina
    -->
    <div class="sugerencias" style="right: calc(-253px);">
        <span><span class="textGradient1">
                Ejercicios Sugeridos
            </span>
        </span>
        <div id="ejercicios">
            <p>Y'(x): 4e<sup>0.8x</sup>-0.5y</p>
            <p>h: 1</p>
            <p>X<sub>inicial</sub>: 0</p>
            <p>Y<sub>inicial</sub>: 2</p>
            <p>X<sub>final</sub>: 2</p>
            <p>pasos: 2</p>

        </div>
        <div class="viñeta" onclick="cambiarEstadoSugerencias()">
            <span class="material-symbols-outlined textGradient4">
                keyboard_double_arrow_left
            </span>
        </div>
    </div>

    <dialog id="explicamelo">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('explicamelo')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <h1>Método Multipasos para EDO</h1>
                <p>
                    El método multipasos es una técnica numérica utilizada para resolver ecuaciones diferenciales
                    ordinarias (EDO) que emplea información de varios puntos anteriores para calcular la solución en el
                    siguiente punto. Esto permite obtener soluciones más precisas y estables que las obtenidas con
                    métodos de un solo paso.
                </p>

                <h2>Concepto Básico</h2>
                <p>
                    A diferencia de los métodos de un solo paso, como los métodos de Euler o Runge-Kutta, que solo
                    utilizan el punto actual para avanzar al siguiente, los métodos multipasos utilizan varios puntos
                    previos en la aproximación de la solución. Esto se traduce en una mayor precisión y estabilidad en
                    la solución de EDOs.
                </p>

                <h2>Variantes del Método Multipasos</h2>
                <p>
                    Existen diferentes variantes de métodos multipasos, entre los más comunes se encuentran:
                </p>
                <ul>
                    <li><strong>Método de Adams-Bashforth:</strong> Es un método explícito que utiliza las derivadas
                        evaluadas en puntos anteriores.</li>
                    <li><strong>Método de Adams-Moulton:</strong> Es un método implícito que también utiliza las
                        derivadas en puntos anteriores pero incluye la derivada en el punto futuro, requiriendo una
                        solución iterativa.</li>
                </ul>

                <h2>Aplicación</h2>
                <p>
                    Para aplicar un método multipasos, primero se requieren métodos de un solo paso (como Runge-Kutta)
                    para calcular los primeros puntos. Luego, se utilizan las fórmulas del método multipasos
                    seleccionado para avanzar en la solución.
                </p>

                <h2>Ventajas y Consideraciones</h2>
                <p>
                    Los métodos multipasos son eficaces para obtener soluciones precisas de EDOs y son especialmente
                    útiles en problemas donde la estabilidad es crítica. Sin embargo, requieren el almacenamiento de
                    varios puntos anteriores y pueden ser más complejos de implementar que los métodos de un solo paso.
                </p>
            </div>
        </div>
    </dialog>

    <dialog id="diagrama">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('diagrama')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <center>
                    <h2>Diagrama de Flujo del Método de Multipasos</h2>
                    <img src="https://i.ibb.co/tM2XB6z/multipasos.png">
                </center>
            </div>
        </div>
    </dialog>

    <dialog id="api">
        <div class="contenido">
            <div class="dialog-content">
                <span class="close" onclick="cerrarDialog('api')">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </span>
                <h2>API del Método de Extrapolacion de Richardson</h2>
                <br>
                <p>Para utilizar el método de multipasos, se debe realizar una petición POST al siguiente endpoint:</p>
                <p>https://analisis-numerico-sand.vercel.app/metodos/unidad_cinco/iterativos/multipasos</p>
                <br>
                <p>El cuerpo de la petición debe contener un objeto JSON con la siguiente estructura:</p>
                <br>
                <pre>

                {
                    "funcion":"funcion y prima",
                    "pasos":"numero de pasos",
                    "h":valor de h,
                    "x_inicial":valor de x inicial,
                    "x_final":valor de x final,
                    "y_inicial":valor de y inicial
                }
                
            </pre>
            </div>
        </div>
    </dialog>


    <script type="text/javascript" src="/static/matquill/mathquill.js"></script>
    <script type="text/javascript">
        MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

        var latex = $('#math-field').bind('keydown keypress', function () {
            var prev = latex.val();
            setTimeout(function () {
                var now = latex.val();
                if (now !== prev) mq.latex(now);
            });
        });
        var mq = MQ.MathField($('#latex')[0], {
            autoSubscriptNumerals: true,
            autoCommands:
                'alpha beta sqrt theta phi pi tau nthroot cbrt prod int ans percent mid square',
            autoParenthesizedFunctions: 'sin cos',
            handlers: {
                edit: function () {
                    if (!latex.is(':focus')) latex.val(mq.latex());
                },
            },
        });
        latex.val(mq.latex());
    </script>


    <script>
        //Aqui debe ir la direccion del EndPoint de el Metodo
        let endPoint = "/metodos/unidad_cinco/iterativos/multipasos"
        //Aqui iran los id de todos los datos que se enviaran al EndPoint
        let variables = ["h", "y_inicial", "x_inicial", "x_final", "pasos"];
        //Esta es la funcion que hace el POST y solo se modificara si y solo si es necesario
        function calcular() {
            let datos = {}
            datos["latex"] = document.getElementById("latex").textContent;
            variables.forEach(variable => {
                datos[variable] = document.getElementById(variable).value;
            });
            console.log(datos);
            realizarPeticionPOST(endPoint, datos)
        }
        //metodos de inicio para que se vea bien la interfaz
        mostrarEjercicio()
        setTimeout(() => {
            cambiarEstadoSugerencias()
        }, 4000);
    </script>


    <!--Script de teclado-->
    <script defer>
        $(document).ready(function () {
            var MQ = MathQuill.getInterface(2); // for backcompat
            var mathFieldSpan = document.getElementById('math-field');
            var latexSpan = document.getElementById('latex');

            var mathField = MQ.MathField(mathFieldSpan, {
                spaceBehavesLikeTab: true, // configurable
                handlers: {
                    edit: function () { // useful event handlers
                        latexSpan.textContent = mathField.latex(); // simple API
                    }
                }
            });

            // Añadir funcionalidad a los botones del panel matemático
            $('.math-button').on('click', function () {
                var symbol = $(this).data('symbol');
                mathField.write(symbol);
                mathField.focus({ focusVisible: true });
            });

        });
    </script>

    <script src="/static/Loader/background.js" async></script>
</body>

</html>