@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --var-primary: #474747;
    --var-secondary: #333;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --third-font: "Source Sans 3", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ebebeb;
    background-image: radial-gradient(rgba(146, 146, 146, 0.3) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.text_hero {
    text-align: center;
    margin-top: 40px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 4em;
    color: var(--var-primary);
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2em;
    color: var(--var-primary);

}

p {
    font-family: var(--third-font);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--var-secondary);
}

.bg-gradient1 {
    background: linear-gradient(135deg, #2a5ffe 0%, #3ac7dc 100%);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}


.panel_metodos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: unset;
    width: 100%;
    max-width: 764px;
    align-self: center;

}

.grafico {
    grid-row: span 2;
}

.interpolacion {
    grid-column: span 2;
}

.valorInicial {
    grid-column: span 2;
}

.información {
    grid-column: span 2;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    max-width: 90vw;
}

.información {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 1rem;

}

.información div {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}


canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -99;
}


.metodo {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--bgcolor);
    backdrop-filter: blur(7px);
    text-decoration: none;
    transition: all 0.5s;
    align-content: center;
    justify-content: center;
    z-index: 0;

    display: flex;
    flex-direction: column;

    cursor: pointer;

    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.164);

    * {
        transition: all 0.5s;
    }

    img {
        align-self: center;
        filter: drop-shadow(0px 4px 10px rgba(76, 0, 255, 0.275)) hue-rotate(-40deg) saturate(200%) brightness(0.9);
    }
}

.metodo:hover {
    transform: scale(1.1);
    z-index: 10;

}

.mep {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    transition: all 0.5s;
    background-clip: text;
    cursor: pointer;
}

.mep:hover {
    transform: scale(1.08);
    background: linear-gradient(135deg, #ff1d1d 0%, #951eda 100%);
    background-clip: text;
    color: transparent !important;

    text-shadow: -5px 10px 5px rgba(0, 0, 0, 0.192);
}

.mep:hover h2 {
    color: transparent !important;
}


.icon {
    font-weight: 900;
    font-size: 2.5em;
}




.bgcRed {
    --colorGradiente1: #f59330;
    --colorGradiente2: #ff2121;
}

.bgcBluesky {
    --colorGradiente1: #3ac7dc;
    --colorGradiente2: #2a5ffe;
}

.bgcGray {
    --colorGradiente1: #aea4b3;
    --colorGradiente2: #271430;
}

.bgcram {
    --colorGradiente1: #284f7c;
    --colorGradiente2: #02b402;
}

.divpink {
    background: radial-gradient(circle at 0% 0%, #c20e35 0%, #0c1b3d 63%, #000000 100%) !important;
    opacity: 0.95;

    span {
        text-shadow: -5px 10px 5px rgba(0, 0, 0, 0.192);
    }

    h2,
    p {
        color: white;
    }

    img {
        filter: invert(1) drop-shadow(0px 4px 10px rgb(0, 85, 134));
    }
}

.divgreen {
    background: radial-gradient(circle at 0% 0%, #444444 0%, #0c1b3d 63%, #000000 100%) !important;
    opacity: 0.95;

    span {
        text-shadow: -5px 10px 5px rgba(0, 0, 0, 0.192);
    }

    h2,
    p {
        color: white;
    }

    img {
        filter: invert(1);
    }

}

.divblue {
    background: radial-gradient(circle at 0% 0%, #855b02 0%, #0c1b3d 63%, #000000 100%) !important;
    opacity: 0.95;

    span {
        text-shadow: -5px 10px 5px rgba(0, 0, 0, 0.192);
    }

    h2,
    p {
        color: white;
    }

    img {
        filter: invert(1) drop-shadow(0px 4px 10px rgb(0, 85, 134));
    }

}




.etiqueta {
    grid-column: span 2;
    background: linear-gradient(135deg, var(--colorGradiente2) 0%, var(--colorGradiente1) 90%);
    color: white;
    width: max-content;
    text-wrap: nowrap;
    position: relative;
    font-family: var(--secondary-font);
    font-size: large;
    font-weight: 700;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-bottom: -0.5rem;
    z-index: 0;
    opacity: 0.9;

    animation: etiquetaAnimation 200s infinite;
    ;

}


.etiqueta::before {
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    border-bottom: 1.7rem solid transparent;
    border-left: 40px solid var(--colorGradiente1);

}

.etiqueta::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -40px;
    border-top: 1.7rem solid transparent;
    border-left: 41px solid var(--colorGradiente1);
}

@keyframes etiquetaAnimation {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.03);
    }

    100% {
        transform: scaleX(1);
    }

}

.etiqueta {
    animation: etiquetaAnimation 2s infinite;
}

.flip-card {
    perspective: 1000px;
    font-family: sans-serif;
    width: auto;


    .flip-card-inner {
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;


        .flip-card-front,
        .flip-card-back {
            position: absolute;
            height: auto;
            backface-visibility: hidden;
            backdrop-filter: blur(7px);
            border: 3px solid rgba(255, 255, 255, 0.149);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 1rem;

            box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.164);
        }

        .flip-card-front:hover,
        .flip-card-back:hover {
            border: 3px solid rgba(255, 255, 255, 0.5);
            z-index: 70;
        }

        .flip-card-back {
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg) scale(1.1);
}

.flip-card:hover {
    z-index: 70;
}



.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    transition: all 0.5s;


    .modal-content {
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 1rem;
        margin: calc(100vh - 80vh) auto;
        padding: 2rem;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        transition: all 0.5s;

        .close {
            color: #aaa;
            float: right;
            font-size: 34px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: rgb(255, 0, 0);
            text-decoration: none;
            cursor: pointer;
        }
    }
}


/* Estilos para el botón de cierre de la ventana modal */

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;


}

a {
    border: 3px solid rgba(255, 255, 255, 0.149);
    z-index: 10;
}

.link {
    display: flex;
    justify-content: start;
    gap: 1rem;
    text-decoration: none;
    color: var(--var-primary);
    transition: all 0.5s;
}

.link:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff831d 0%, #8f00e2 100%);
    background-clip: text;
    color: transparent !important;

}

.link:hover h2 {
    color: transparent !important;

}



@media screen and (max-width: 550px) {
    .metodo,.grafico, .flip-card-front, .flip-card-back {
        background: rgb(235, 235, 235,0.8);
    }

    *{
        backdrop-filter: none !important;
    }
}


@media screen and (max-width: 550px) {

    .panel_metodos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .etiqueta {
        text-wrap: wrap !important;
        max-width: 60vw;
    }

    html {
        overflow-x: hidden;
    }


}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

