<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Métodos</title>
</head>
<body>
    <h1>Menú de Métodos</h1>
    <ul>
        <li><a href="/metodos/iterativos/cerrados/Biseccion">Bisección</a></li>
        <li><a href="/metodos/directos/gradomas3/Ferrari">Ferrari</a></li>
        <li><a href="/metodos/directos/gradomas3/Tartaglia">Tartaglia</a></li>
        <li><a href="/metodos/directos/gradomenos2/cuartica">Cuadrática</a></li>
        <li><a href="/metodos/directos/gradomenos2/lineal">Lineal</a></li>
        <li><a href="/metodos/directos/abiertos/punto-Fijo">Punto Fijo</a></li>
        <li><a href="/metodos/directos/abiertos/newton">Newton</a></li>
        <li><a href="/metodos/directos/abiertos/Newton-Modificado">Newton Modificado</a></li>
        <li><a href="/metodos/directos/abiertos/Secante">Secante</a></li>
    </ul>
</body>
</html>
