<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
</head>
<body>
    <h1>Welcome to My Web Page</h1>
    <p>This is a sample HTML page.</p>
    <p>prueba de integracion</p>
    <div id="calcular" class="buttonBig button-green" onclick="calcular()">
        <span class="material-symbols-outlined">
            calculate
        </span>
        <span>Calcular</span>
    </div>
</body>

<script>
    // Aquí ajusta la URL base del servidor Flask y la ruta específica al método
    let endPoint = "http://localhost:5000/metodos/directos/cerrados/Biseccion";

    let variables = ["funcion", "xi", "xu", "tolerancia"];

    function calcular() {
        let datos = {};
        variables.forEach(variable => {
            datos[variable] = document.getElementById(variable).value;
        });
        console.log(datos);
        realizarPeticionPOST(endPoint, datos); // Asegúrate de que esta función esté definida y pueda realizar peticiones POST
    }

    let ejercicios = [
        ["funcion", "xi", "xu", "tolerancia"],
        ["-x + exp(-x)", 0.1, 1.5, 0.05],
        ["x^2 - 4", -2, 2, 0.01],
        ["sin(x)", 0, 3, 0.1],
        ["log(x)", 1, 10, 0.001]
    ];

</script>
</html>